<!-- <nav>
    <a href="/">Home</a>
    <a href="/create-event">Create</a>
    <a href="/my-events">Events</a>
    <a href="/login">Login</a>
    <a href="/register">Register</a>
</nav>
 -->

<nav>
    <table>
        <colgroup>
            <col style="width: 100px;" style="text-align: center;">
            <col style="width: 100px;"  style="text-align: center;">
            <col style="width: 100px;" style="text-align: center;">
            <col style="width: 100px;">
            <col style="width: 100px;">
            <col style="width: 100px;">
            <col style="width: 100px;" style="text-align: center;">
            <col style="width: 100px;" style="text-align: center;">

        </colgroup>
        <tr>
            <td>
                <a href="/">Home</a>
            </td>
            <td>
                <a href="/create-event">Create</a>
            </td>
            <td>
                <a href="/my-events">Events</a>
            </td>
            <td>

            </td>
        <td></td>
            <td>
                <a href="/login">Login</a>
            </td>
            <td>
                <a href="/register">Register</a>
            </td>
        </tr>
    </table>
</nav>