nj <%- include('partials/header') %>
    <%- include('partials/navbar') %>

        <head>
            <div class="container">

                <meta charset="UTF-8">
                <meta name="viewport" content="width=device-width, initial-scale=1.0">
                <title>Delete User</title>
                <h2>Delete User Accounts</h2>
                <p style="color:#686868;">In cases where terms & conditions have been breached, delete a user's account here.</p>
                <br>
            </div>
        </head>

        <body>
            <div class="container">
                
                <form action="/delete-user" method="POST">
                    <strong>Enter user's info here:</strong><br><br>
                    <label for="delUsername">Username</label><br>
                    <input type="text" name="delUsername" size='40' placeholder="Enter username of account to be deleted" required />
                    <br><br><hr><br>
                    <strong>Enter your admin credentials here:</strong><br><br>
                    <label for="adminPassword">Password</label><br>
                    <input type="password" name="adminPassword" size='40' placeholder="Enter your account password" required />
                    <br><br><br>
                    <button type="submit">Submit</button>
                </form>
            </div>
            <%- include('partials/footer') %>

        </body>