<%- include("partials/header") %>
<%- include("partials/navbar") %>

<div class="container">
  <h1>Something went wrong</h1>
  <p><%= message %></p>
  <p><a href="/">Go back home</a></p>
</div>

<%- include("partials/footer") %>