<%- include('partials/header') %>
<%- include('partials/navbar') %>

<br>

<img src="/css/img/smulogo.png" alt = 'smu image' width = '300' height = '200'>
<h1>Welcome to the SMU Campus Event Board</h1>
<p>Your one-stop platform for discovering and creating campus events at Singapore Management University.</p>

<hr>

<h2>What you can do here:</h2>
<ul>
    <li>Browse upcoming campus events</li>
    <li>Create and manage your own events</li>
    <li>RSVP to events you are interested in</li>
    <li>View your upcoming RSVPs</li>
</ul>

<hr>

<h2>Get Started</h2>
<p><a href="/all-events">View All Events</a></p>
<p><a href="/create-event">Create a New Event</a></p>

<%- include('partials/footer') %>
