<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <p><h2>Login</h2>
    Sign in to your Campus Event Board account.</p>
    <br>
</head>
<body>
     
    <form action="/login" method="POST">
      <label for="email">Email</label><br>
      <input type="text" name="email" size='40' placeholder="you@university.edu.sg" required />
      <br><br>
      <label for="password">Password</label><br>
      <input type="password" name="password" size='40' placeholder="Enter your password" required />
      <br><br>
      <button type="submit">Login</button>
    </form>
    <br>
    <a href="/register">Don't have an account? Register</a>
</body>
</html>
