<%- include('partials/header') %>
<%- include('partials/navbar') %>

<h2>Register</h2>

<% if (errors.length > 0) { %>
  <ul style="color: red;">
    <% errors.forEach(err => { %>
      <li><%= err %></li>
    <% }) %>
  </ul>
<% } %>

<form action="/register" method="POST">
  <table border="1">
    <tr>
      <td><label>Name *</label></td>
      <td><input type="text" name="name" required></td>
    </tr>
    <tr>
      <td><label>Email *</label></td>
      <td><input type="email" name="email" required></td>
    </tr>
    <tr>
      <td><label>Password *</label></td>
      <td><input type="password" name="password" required></td>
    </tr>
  </table>
  <br>
  <a href="/">Cancel</a>
  <button type="submit">Register</button>
</form>

<p>Already have an account? <a href="/login">Login here</a></p>

<%- include('partials/footer') %>
