<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('partials/header') %>
        <%- include('partials/navbar') %>
            <div class="container">
                <br>
                <title>Reset Password</title>
               
                <h2>Reset Password</h2>
                <p style="color:#686868;">Please enter your new password.</p>
                <br>
            </div>
</head>

<body>
    <div class="container">
        <form action="/update-password" method="POST">

            <label for="password1">New password</label><br>
            <input type="password" name="password1" size='40' placeholder="minimum 8 characters" minlength="8" maxlength="15"required>
            <br><br>
            <label for="password2">Re-enter your new password</label><br>
            <input type="password" name="password2" size='40' placeholder="re-enter password" minlength="8" maxlength="15" required>
            <input type="hidden" name="passedEmail" value="<%= passedEmail %>">
            <br><br><br>
            <button type="submit">Enter</button>
        </form>
        <br>
    </div>
    <%- include('partials/footer') %>

</html>